.App {
  text-align: center;
  /* overflow-y: scroll; */
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  height: 100vh;
}
.App::-webkit-scrollbar{
  width: 0.25rem;
}

.App::-webkit-scrollbar-track{
  background: #fff;
}

.App::-webkit-scrollbar-thumb{
  background: var(--accent);
}
.ftr{
  padding: 2rem 0;
  background: #1e1e1e;
  color: white;
  scroll-snap-align: start;
}
@media only screen and (min-width:600px){
  .ftr{
    margin-bottom:0;
    padding: 2rem 1rem 2rem 6rem;
  }
}
@media only screen and (max-width:600px){
  .ftr{
    margin-bottom: 5rem;
    padding: 2rem 0;
  }
}


